body {
  font-family: 'Montserrat', sans-serif;
}

button{
  background: none;
  box-shadow: none;
  cursor: pointer;
}

a{
  text-decoration: none;
}

input{
  background: none;
  box-shadow: none;
  border: none;
  outline: none;
}