//Arrière-plan
$background-light: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, #FFFFFF 70%, #FDFAF0 100%);
$background-dark: radial-gradient(57% 57% at 50% 43%, #2D2D2C 0%, #30302A 50%, #171717 100%);

//Couleurs primaires
$primary-light: #B11025;
$primary-dark: #EACD53;

//Texte
$text-color-light: #191918;
$text-color-dark: #FBFAF3;

//Couleurs neutres
$white: #FFFFFF;
$gray: #414040;